/* login page */

.bg-image-login {
  background-image: url("../img/bkg3.png") !important;
  background-size: cover;
  background-position: center;
}

.bg-side-login {
  background-color: #ffffff;
}

.form-label-group>input, .form-label-group>label {
  height: 2.5em;
  padding-left: 1em;
  padding-top: 0.4em;
}

.fixed-top {
  padding: 0px;
}

nav {
  background-color: #a9a9a9;
}

.navbar-brand {
  height: 60px;
  position: relative;
}

nav img {
  position: relative;
  top: 15px;
  left: 30px;
  transform: rotate(-3deg);
}

.btn-block {
  width: 62%;
  margin: auto;
  color: #fff;
  background-color: #ff9907;
  border-color: #ff9907;
}

.btn-block:hover, .btn-block:active {
  background-color: #e68f16;
  border-color: #e68f16;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e68f16;
  border-color: #e68f16;
}

.form-control:focus, .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  border-color: #ff9907;
  box-shadow: 0 0 0 0.2rem rgba(255, 204, 65, 0.603);
}

.btn-login {
  white-space: nowrap;
  /* font-family: 'Fredericka the Great', cursive; */
}

.register {
  margin-top: 20px;
  font-size: 0.7em;
}

.register_here {
  font-size: 1.2em;
}

.error_message {
  margin-top: 20px;
  color: red;
}