{% extends 'base.html' %}

{% block content %}
<form class="container">
    <div class="row">
        <div class="input-field col s12 m6">
            <h6><strong>Recipe name:</strong></h6>
            <input placeholder="Recipe name" id="recipe_name" name="recipe_name" type="text" class="validate">
        </div>
    </div>

    <div class="row img-details">
        <div class="col s12 m6">
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1"><img class="img-recipe"
                    src="{{url_for('static', filename='img/add_image.png')}}"></a>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cooking time:</strong></h6>
                            <input placeholder="Cooking time" id="cooking_time" name="cooking_time" type="text"
                                class="validate">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Calories:</strong></h6>
                            <input placeholder="Calotries" id="calories" name="calories" type="text" class="validate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Difficulty:</strong></h6>
                            <select id="difficulty" name="difficulty">
                                <option value="" disabled selected>Select one</option>
                                <option value="1">Option 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Category:</strong></h6>
                            <select id="category" name="category">
                                <option value="" disabled selected>Select one</option>
                                <option value="1">Option 1</option>
                                <option value="3"><a href="#">Add new</a></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cuisine:</strong></h6>
                            <select id="cuisine" name="cuisine">
                                <option value="" disabled selected>Select one</option>
                                <option value="1">Option 1</option>
                                <option value="3"><a href="#">Add new</a></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Serves:</strong></h6>
                            <input placeholder="Serves" id="serves" name="serves" type="text" class="validate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h5>Cooking instructions:</h5>
                    <p>* Enter the steps in order separated by comma</p>
                    <textarea id="instructions" name="instructions" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col s12 ingredients input-field">
                    <h5>Ingredients:</h5>
                </div>
            </div>
            <div class="row">

                <div class="col s12 m5 input-field">
                    <input placeholder="ingredient" name="ingredient" type="text" class="validate">
                    <label for="ingredient">Ingredient</label>
                </div>
                <div class="col s12 offset-m2 m3 input-field">
                    <input placeholder="amount" name="amount" type="text" class="validate">
                    <label for="amount">Amount</label>
                </div>
                <div class="col s12 offset-m1 m1 right-align">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            </div>






        </div>
        <div class=" col s12 ingredients">
            <h5>Allergens:</h5>
            <p>* Enter the allergens below separated by comma</p>
            <textarea id="allergens" name="allergens" class="materialize-textarea"></textarea>
        </div>
    </div>



    </div>
    </div>
    <div class="row">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                    class="fa fa-insert"></i>Add recipe
            </button>

        </div>
    </div>
</form>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <form>
        <h6><strong>Recipe image url</strong></h6>
        <input type="url" id="image_url" name="image_url" required=required
            placeholder="Copy here the url for the recipe image">
        <button class="btn waves-effect waves-light" type="submit" name="action">add url
        </button>
    </form>
</div>


{% endblock %}