{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('insert_cuisine')}}" method="POST" class="container">
    <h5>Add Cuisine</h5>
    <div class="row">
        <div class="col s12 input-field">
            <input placeholder="Cuisine" id="cuisine" name="cuisine" type="text" class="validate">
            <label for="category">Cuisine</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                    class="fa fa-insert"></i>Add cuisine</button>

        </div>
    </div>
</form>

{% endblock %}