{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="container"
    enctype="multipart/form-data">
    <div class="row">
        <div class="input-field col s12 m6">
            <h6><strong>Recipe name:</strong></h6>
            <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}"
                required="">
        </div>
    </div>

    <div class="row img-details">
        <div class="col s12 m6">
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Change image
                {% if recipe.recipe_image %}
                <img class="img_view_recipe" src="{{url_for('img_uploads', filename=recipe['recipe_image'])}}"">
                        {% else %}
                        <img class=" img_view_recipe" src="{{url_for('static', filename='img/default.jpg')}}">
                {% endif %}
            </a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <h6><strong>Upload new recipe image</strong></h6>
                <input type="file" name="recipe_image" onchange="previewFile()">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn ">Done</a>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cooking time:</strong></h6>
                            <input id="cooking_time" name="cooking_time" type="text" class="validate"
                                value="{{recipe.cooking_time}}" required="">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Calories:</strong></h6>
                            <input id="calories" name="calories" type="text" class="validate"
                                value="{{recipe.calories}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Difficulty:</strong></h6>
                            <select id="difficulty_level" name="difficulty_level">
                                <option value="" disabled selected>Select one</option>
                                {% for level in difficulty%}
                                {% if level.difficulty_level == recipe.difficulty_level %}
                                <option value="{{level.difficulty_level}}" selected>{{level.difficulty_level}}</option>
                                {% else %}
                                <option value="{{level.difficulty_level}}">{{level.difficulty_level}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Category:</strong></h6>
                            <select id="category" name="category">
                                <option value="" disabled selected>Select one</option>
                                {% for category in categories%}
                                {% if category.category == recipe.category %}
                                <option value="{{category.category}}" selected>{{category.category}}</option>
                                {% else %}
                                <option value="{{category.category}}">{{category.category}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cuisine:</strong></h6>
                            <select id="cuisine" name="cuisine">
                                <option value="" disabled selected>Select one</option>
                                {% for cuisine in cuisines %}
                                {% if cuisine.cuisine == recipe.cuisine %}
                                <option value="{{cuisine.cuisine}}" selected>{{cuisine.cuisine}}</option>
                                {% else %}
                                <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Serves:</strong></h6>
                            <input placeholder="Serves" id="serves" name="serves" type="text" class="validate"
                                value="{{recipe.serves}}" required="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h5>Cooking instructions:</h5>
                    <p>* Enter each step on a new line</p>
                    <textarea id="instructions" name="instructions" class="materialize-textarea validate"
                        required="">{{list_instructions}}</textarea>
                </div>
            </div>

            <div class="row add_ingredients">
                <div class="col s12">
                    <h5>Ingredients:</h5>
                    <p>* Enter each ingredient on a new line</p>
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea validate"
                        required="">{{list_ingredients}}</textarea>
                </div>
            </div>

        </div>
        <div class=" col s12">
            <h5>Allergens:</h5>
            <div class="input-field col s12">
                <select id="allergens" name="allergens" class="validate" multiple>
                    {% for allergen in allergens %}
                    {% if allergen.allergen in recipe.allergens %}
                    <option value="{{allergen.allergen}}" selected>{{allergen.allergen}}</option>
                    {% else %}
                    <option value="{{allergen.allergen}}">{{allergen.allergen}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                    class="fa fa-insert"></i>Save changes</button>

        </div>
    </div>
</form>
{% endblock %}