{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" class="container">
    <div class="row">
        <div class="input-field col s12 m6">
            <h6><strong>Recipe name:</strong></h6>
            <input id="recipe_name" name="recipe_name" type="text" class="validate" value="testing">
        </div>
    </div>

    <div class="row img-details">
        <div class="col s12 m6">
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1"><img class="img-recipe" src="{{recipe.image_url}}"></a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <h6><strong>Recipe image url</strong></h6>
                <input type="url" id="image_url" name="image_url" required=required
                    placeholder="Copy here the url for the recipe image" value="{{recipe.image_url}}">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn ">Add url</a>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cooking time:</strong></h6>
                            <input id="cooking_time" name="cooking_time" type="text" class="validate"
                                value="{{recipe.cooking_time}}">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Calories:</strong></h6>
                            <input id="calories" name="calories" type="text" class="validate"
                                value="{{recipe.calories}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Difficulty:</strong></h6>
                            <select id="difficulty_level" name="difficulty_level">
                                <option value="" disabled selected>Select one</option>
                                {% for level in difficulty%}
                                <option value="{{level.difficulty_level}}">{{level.difficulty_level}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Category:</strong></h6>
                            <select id="category" name="category">
                                <option value="" disabled selected>Select one</option>
                                {% for category in categories%}
                                <option value="{{category.category}}">{{category.category}}</option>
                                {% endfor %}
                                <option value="{{url_for('add_category')}}">Add new
                                    category
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Cuisine:</strong></h6>
                            <select id="cuisine" name="cuisine">
                                <option value="" disabled selected>Select one</option>
                                {% for cuisine in cuisines%}
                                <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
                                {% endfor %}
                                <option value="3"><a href="#">Add new</a></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col s6 input-field">
                            <h6><strong>Serves:</strong></h6>
                            <input placeholder="Serves" id="serves" name="serves" type="text" class="validate"
                                value="{{recipe.serves}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h5>Cooking instructions:</h5>
                    <p>* Enter the steps in order separated by comma</p>
                    <textarea id="instructions" name="instructions" class="materialize-textarea">
                        {{recipe.instructions}} </textarea>
                </div>
            </div>

            <div class="row add_ingredients">
                <div class="col s12">
                    <h5>Ingredients:</h5>
                    <p>* Enter the ingredient below separated by comma <br><span class="small">(example 2 kg - potatoes,
                            1
                            tsp - oil...)</span></p>
                    <textarea id="ingredient" name="ingredient"
                        class="materialize-textarea">{{recipe.ingredients}}</textarea>
                </div>
            </div>

        </div>
        <div class=" col s12">
            <h5>Allergens:</h5>
            <p>* Enter the allergens below separated by comma</p>
            <textarea id="allergens" name="allergens" class="materialize-textarea">{{recipe.allergens}}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                    class="fa fa-insert"></i>Edit recipe</button>

        </div>
    </div>
</form>
{% endblock %}