{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col s12 title center-align">
            <h4>Hello <strong>{{ username }}</strong>! What are we cooking today?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="carousel">
                {% for recipe in recipes%}
                <div class="carousel-item">
                    <div class="row recipe_name">
                        <div class="col s12 center-align">
                            <h5> {{recipe.recipe_name}} </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                                {% if recipe.recipe_image %}
                                <img class="img-carousel"
                                    src="{{url_for('img_uploads', filename=recipe['recipe_image'])}}"">
                                {% else %}
                                <img class=" img-carousel" src="{{url_for('static', filename='img/default.jpg')}}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class=" row ">
                        <div class=" col s6">
                            <h6><strong>Likes: {{recipe.upvotes}}</strong></h6>
                        </div>
                        <div class="col s6 right-align">
                            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="wrapper-filter">
        <form>
            <div class="row">
                <div class="col" class="s12">
                    <h5>Filter the recipes</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 offset-l1 l3 filter-section">
                    <div class="switch">
                        <label>
                            <input type="checkbox">
                            <span class="lever"></span>Only my recipes
                        </label>
                    </div>
                    <div class="dropdown">
                        <h6><strong>Cuisine:</strong></h6>
                        <select id="cuisine" name="cuisine">
                            <option value="" disabled selected>Select one</option>
                            {% for cuisine in cuisines %}
                            <option value="{{cuisine.cuisine}}">{{cuisine.cuisine}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="dropdown">
                        <h6><strong>Difficulty:</strong></h6>
                        <select id="difficulty" name="difficulty">
                            <option value="" disabled selected>Select one</option>
                            {% for level in difficulty %}
                            {% if level.difficulty_level != "Not specified" %}

                            <option value="{{level.difficulty_level}}">{{level.difficulty_level}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>



                <div class="col s12 m12 offset-l2 l6 filter-section">
                    <h6><strong>Allergens:</strong></h6>
                    <p>Select what allergens you want to exclude from the results</p>
                    {% for allergen in allergens %}
                    {% if allergen.allergen != "Not specified" %}
                    <p class="checkbox">
                        <input type="checkbox" id="{{allergen.allergen}}" name="{{allergen.allergen}}" />
                        <label for="{{allergen.allergen}}">{{allergen.allergen}}</label>
                    </p>
                    {% endif %}
                    {% endfor %}

                    <h6><strong>Meal type:</strong></h6>
                    {% for category in categories %}
                    {% if category.category != "Not specified" %}
                    <p class="checkbox">
                        <input type="checkbox" id="{{category.category}}" name="{{category.category}}" />
                        <label for="{{category.category}}">{{category.category}}</label>
                    </p>
                    {% endif %}
                    {% endfor %}

                </div>


            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                            class="fa fa-filter"></i> Apply filter</button>

                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}