{% extends 'base.html' %}

{% block content %}
<div>

    <div class="container">
        <div class="row">
            <div class="col s12 title center-align">
                <h4>Hello <strong>{{ username }}</strong>! What are we cooking today?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img
                            src="{{url_for('static', filename='img/desayuno1.jpg')}}"></a>
                    <a class="carousel-item" href="#two!"><img
                            src="{{url_for('static', filename='img/CookBook.jpg')}}"></a>
                    <a class="carousel-item" href="#three!"><img
                            src="{{url_for('static', filename='img/pollo.jpg')}}"></a>
                    <a class="carousel-item" href="#four!"><img
                            src="{{url_for('static', filename='img/sweet.jpg')}}"></a>
                    <a class="carousel-item" href="#five!"><img
                            src="{{url_for('static', filename='img/salad.jpg')}}"></a>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}