{% extends 'base.html' %}

{% block content %}
<div>

    <div class="container">
        <div class="row">
            <div class="col s12 title center-align">
                <h4>Hello <strong>{{ username }}</strong>! What are we cooking today?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="carousel">
                    {% for recipe in recipes%}
                    <div class="carousel-item">
                        <div class="row recipe_name">
                            <div class="col s12 center-align">
                                <h5> {{recipe.recipe_name}} </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a href="#">
                                    <img class="img-carousel" src="{{recipe.image_url}}">
                                </a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col s6">
                                <h6><strong>Likes: {{recipe.upvotes}}</strong></h6>
                            </div>
                            <div class="col s6 right-align">
                                <a href="#">
                                    <h6>View</h6>
                                </a>
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {% endblock %}