{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col s12 title center-align">
            <h4>Hello <strong>{{ username }}</strong>! What are we cooking today?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="carousel">
                {% for recipe in recipes%}
                <div class="carousel-item">
                    <div class="row recipe_name">
                        <div class="col s12 center-align">
                            <h5> {{recipe.recipe_name}} </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                                {% if recipe.recipe_image %}
                                <img class="img-carousel"
                                    src="{{url_for('img_uploads', filename=recipe['recipe_image'])}}"">
                                {% else %}
                                <img class=" img-carousel" src="{{url_for('static', filename='img/default.jpg')}}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class=" row ">
                        <div class=" col s6">
                            <h6><strong>Likes: {{recipe.upvotes}}</strong></h6>
                        </div>
                        <div class="col s6 right-align">
                            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}