<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Bootstrap.min.css')}}" type="text/css" />

    <!-- styles from https://startbootstrap.com/snippets/sign-in-split/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" type="text/css" />

    <!-- my styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" />


    <title>Time2Eat</title>
</head>

<body>
    <header>
        <nav role="navigation" class="navbar navbar-default fixed-top bg-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="{{url_for('static', filename='img/logo2.png')}}" width="220" alt="time2eat logo"></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-7 col-lg-7 bg-image-login"></div>
            <div class="col-md-5 col-lg-5">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4 text-center">Your online cookbook!</h3>
                                <form method="POST" action="{{url_for('login')}}">
                                    <div class="form-label-group">
                                        <input type="text" id="username" name="username" class="form-control"
                                            placeholder="Username" required autofocus>
                                        <label for="username">Username</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" id="password" name="password" class="form-control"
                                            placeholder="Password" required>
                                        <label for="password">Password</label>
                                    </div>

                                    <button
                                        class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Sign in</button>
                                </form>
                                <p class="register text-center">If you don't have an account <a
                                        href="{{url_for('register')}}"><span class="register_here">Register
                                            here</span></a></p>
                                <p class="error_message text-center">{{message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.slim.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>