{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col s6 center-align ingredients">
            <h5>Categories</h5>
            <ul>
                {% for category in categories %}
                <li>
                    {{category.category}}
                    {% if category.count_recipes_category > 0 %}
                    - ({{category.count_recipes_category}} recipes)
                    {% else %}
                    <a href="{{url_for('delete_category', category_id=category.category_id)}}"
                        class="btn waves-effect waves-light red">Delete
                        category</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {{number_recipes_category}}
        <div class=" col s6 center-align ingredients">
            <h5>Cuisines</h5>
            <ul>
                {% for cuisine in cuisines %}
                <li>
                    {{cuisine.cuisine}}
                    {% if cuisine.count_recipes_cuisine > 0 %}
                    - ({{cuisine.count_recipes_cuisine}} recipes)
                    {% else %}
                    <a href="{{url_for('delete_cuisine', cuisine_id=cuisine.cuisine_id)}}"
                        class="btn waves-effect waves-light red">Delete
                        cuisine</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s6 center-align">
            <a href="{{url_for('add_category')}}" class="btn waves-effect waves-light red">Add category</a>
        </div>
        <div class="col s6 center-align">
            <a href="{{url_for('add_cuisine')}}" class="btn waves-effect waves-light red">Add cuisine</a>
        </div>
    </div>

</div>


{% endblock %}