{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col s6 center-align ingredients">
            <h5>Categories</h5>
            <ul>
                {% for category in categories %}
                <li>
                    {{category.category}}
                    {% if category.count_recipes_category > 0 %}
                    - ({{category.count_recipes_category}} recipes)
                    {% else %}
                    <a href="{{url_for('delete_category', category_id=category.category_id)}}"
                        class="btn waves-effect waves-light red">Delete
                        category</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <form action="{{url_for('insert_category')}}" method="POST" class="container">
                <h5>Add Category</h5>
                <div class="row">
                    <div class="col s12 input-field">
                        <input placeholder="Category" id="category" name="category" type="text" class="validate">
                        <label for="category">Category</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                                class="fa fa-insert"></i>Add category</button>

                    </div>
                </div>
            </form>
        </div>
        <div class=" col s6 center-align ingredients">
            <h5>Cuisines</h5>
            <ul>
                {% for cuisine in cuisines %}
                <li>
                    {{cuisine.cuisine}}
                    {% if cuisine.count_recipes_cuisine > 0 %}
                    - ({{cuisine.count_recipes_cuisine}} recipes)
                    {% else %}
                    <a href="{{url_for('delete_cuisine', cuisine_id=cuisine.cuisine_id)}}"
                        class="btn waves-effect waves-light red">Delete
                        cuisine</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <form action="{{url_for('insert_cuisine')}}" method="POST" class="container">
                <h5>Add Cuisine</h5>
                <div class="row">
                    <div class="col s12 input-field">
                        <input placeholder="Cuisine" id="cuisine" name="cuisine" type="text" class="validate">
                        <label for="category">Cuisine</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light blue" type="submit" name="action"><i
                                class="fa fa-insert"></i>Add cuisine</button>

                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


{% endblock %}