{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col s12">
            <h3>How to use Time2eat online cookbook:</h3>
            <h5>Looking for recipes</h5>
            <ol>
                <li>To get an idea of the number of recipes in the website split by difficulty, category and cuisine go
                    to the statistics page to see the recipes dashboard.</li>
                <li>In the home page you can see all the recipes sorted by number of votes. Use the carousel to see all
                    af them.</li>
                <li> At the bottom of the home page you have the filter section that you can use to display only the
                    recipes matching your criteria. Not all the filter options in the filter are required. (i.e. you can
                    filter only by cuisine or you can filter by category, cuisine, allergens and difficulty)
                </li>
                <li>Click on the recipe image or on the link "view image" to get detailed inforamtion about the recipe
                </li>
                <li>If you are not the author of the recipie you can vote it.</li>
                <li>If you are the author of the recipe you will be able to edit it or remove it.</li>
            </ol>
            <h5>Adding new recipes</h5>
            <ol>
                <li>Go to "Manage categories" page and if the category or cuisine for your recipe is not included in the
                    list add it.</li>
                <li>Go to the add recipe page and add the recipe.</li>
            </ol>
        </div>
    </div>


</div>




{% endblock %}