{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <h4>{{recipe.recipe_name}}</h4>
        </div>
        <div class="col offset-s7 s6 m4 right-align">
            <div class="row">
                <div class="col m8 right-align">
                    <h5>{{recipe.upvotes}} votes</h5>
                </div>
                <div class="col m4 right-align">
                    <a class="button-like waves-effect waves-light btn-large"><i class="fa fa-thumbs-up"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row img-details">
        <div class="col s12 m6">
            <img class="img_view_recipe" src="{{recipe.image_url}}">
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="col s6 ">
                            <h6><strong>Cooking time</strong></h6>
                            <p>{{recipe.cooking_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="col s6">
                            <h6><strong>Calories</strong><br><span class="small">(per serving)</span></h6>
                            <p>{{recipe.calories}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="col s6">
                            <h6><strong>Difficulty</strong></h6>
                            <p>{{recipe.difficulty}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="col s6">
                            <h6><strong>Category</strong></h6>
                            <p>{{recipe.category}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col s6">
                            <h6><strong>Cuisine</strong></h6>
                            <p>{{recipe.cuisine}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row details-item">
                        <div class="col s6 right-align">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col s6">
                            <h6><strong>Serves</strong></h6>
                            <p>{{recipe.serves}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col s12 m4">
            <div class="row">
                <div class="col s12 center-align ingredients">
                    <h5>Ingredients</h5>
                    <ul>
                        {% for ingredient in recipe.Ingredients %}
                        <li>
                            {{ingredient.amount}} - {{ingredient.ingredient_name}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class=" col s12 center-align ingredients">
                    <h5>Allergens</h5>
                    <ul>
                        {% for allergen in recipe.allergens %}
                        <li>
                            {{allergen}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m8 instructions">

            <div class="row">
                <div class="col s12">
                    <h4 class="center-align">Cooking instructions</h4>
                    <ol>
                        {% for instruction in recipe.instructions %}
                        <li>
                            {{instruction}}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}